.navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: absolute;
    padding: 0px 120px;
    height: 5rem;
    width: 100%;
}

.heading-cont {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.3rem;
}

h1 {
    font-family: 'Wallpoet', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar nav {
    display: flex;
    align-items: center;
    position: relative;
}

.navlist-1 {
    display: flex;
    font-size: 1.2rem;
    height: 60%;
    list-style-type: none;
    font-family: 'Inter', 'Times New Roman', Times, serif;
}

.overlay {
    position: absolute;
    bottom: 0;
    background-color: rgb(238, 120, 102);
    overflow: hidden;
    width: 0;
    height: 5px;
    transition: .5s ease;
}

.navlist-1 li:hover .overlay {
    width: 100%;
}

.navlist-1 li {
    position: relative;
    color: aliceblue;
    width: 100px;
}

.navlist-1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.activate {
    border-bottom: 5px solid #dd3b50;
}

@keyframes showMenu {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0px);
    }
}

@media screen and (max-width:575px) {
    .navbar{
        padding: 0px 32px;
    }
    .navbar nav{
        display: none;
    }
    .heading-cont{
        font-size: 1.2rem;
    }
}
@media screen and (min-width:576px) {
    .navbar{
        padding: 0px 64px;
    }
    .navbar nav{
        display: none;
    }
}

@media screen and (min-width:992px) {
    .navbar{
        padding: 0px 120px;
    }
    .navbar nav{
        display: flex;
    }
}
