.card2 {
    display: flex;
    height: 225px;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

.card2 h4 {
    color: aliceblue;
}

.card-img {
    box-shadow: 0 0 10px rgb(53 53 53 / 50%);
    border-radius: 0.5rem;
    width: 152px;
}
.card-text{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 100%;
    color: rgb(189 189 189);
}
.headings{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.head{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}